@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Adirek;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Adirek-Slab-Lite-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Adirek;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Adirek-Slab-Lite-SemiBold.ttf") format("truetype");
}


@theme inline {
  --font-Adirek: "Adirek", serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
